* {
  box-sizing: border-box;
  border: 1px solid red;
}

/* burger menu - basic */
#burgerMenuContainer {
  display: inline-block;
}

#bar1, #bar2, #bar3 {
  width: 35px;
  height: 5px;
  background-color: rgb(241, 249, 88);
  margin: 6px 0;
  transition: 0.4s;
}

/* burger menu - on-click transition to X */
.changeMenu #bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.changeMenu #bar2 {opacity: 0;}

.changeMenu #bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* toggle menu */
#menuContainer {
  display: none;
}

/* burger menu - end */

@media (min-width: 768px) {
  #burgerMenuContainer {
    display: none;
  }
}