<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/layout.css">
  <link rel="stylesheet" href="../css/modules.css">
  <link href="https://fonts.googleapis.com/css?family=Baskervville|Roboto+Mono&display=swap" rel="stylesheet">
  <title>me</title>
</head>
<body>
  <nav>
    <span><i class="far fa-grin"></i> <h1>Ellen Conley</h1></span>
    <div id="menuItemContainer">    
      <div id="burgerMenuContainer" onclick="burgerToX(this)">
        <div id="bar1"></div>
        <div id="bar2"></div>
        <div id="bar3"></div>
      </div>
      <div id="menuContainer">
        <ul>
          <li>my background</li>
          <li>stuff I know about</li>
          <li>projects</li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="appendMenu"></div>
  <main>
    <p id="appendAdvice"></p>
  </main>
  <footer><i class="fab fa-github"></i><i class="fab fa-linkedin-in"></i><i class="fab fa-facebook-f"></i></footer>
  <script src="https://kit.fontawesome.com/60cbadcea7.js" crossorigin="anonymous"></script>
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <!-- <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script> -->
  <script src="../app.js"></script>
</body>
</html>