* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

nav {
  background-color: rgb(241, 249, 88);
  font-family: 'Roboto Mono', monospace;
}

#menuContainer {
  background-color: rgb(164, 208, 255);
  font-family: 'Roboto Mono', monospace;
}

main {
  font-family: 'Baskervville', serif;
}

footer {
  background-color: rgb(241, 249, 88);
  font-family: 'Roboto Mono', monospace;
}